:root {
  --appgray: #282828;
  --appwhite: #f0f0f0;
  --appgold: #ff9900;
  --appcyan: #00ccff;
}

.AppHeader {
  background-color: var(--appgold);
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--appgray);
}

.AppHeader h1 {
  font-size: calc(40px + 2vmin);
  margin: 0 10px;
}

.AppContainer {
  background-color: var(--appgray);
  min-height: 70vh;
  overflow: auto;
}

.AppFooter {
  background-color: var(--appcyan);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: var(--appgray);
}

.AppLink {
  color: var(--appcyan);
  text-decoration: none;
  font-weight: bold;
}